<footer class="site-footer h-card">

    <section>
        <h2>{{ site.title | escape }}</h2>
        <ul class="contact-list">
            <li class="p-name">
                {%- if site.author -%}
                    {{ site.author | escape }}
                {%- else -%}
                    {{ site.title | escape }}
                {%- endif -%}
            </li>
            {%- if site.email -%}
                <li>
                    <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </li>
            {%- endif -%}
        </ul>
    </section>

    <section>
        {%- include social.html -%}
    </section>

    <section>
        <p><small>{{- site.description | escape -}}</small></p>
        <data class="u-url" href="{{ "/" | relative_url }}"></data>
    </section>

</footer>
