<button class="section-nav-toggle" role="tab" aria-expanded="false" title="Style Guide Navigation Menu">
    <svg aria-hidden="true" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M5.618 22.746L18.382 12 5.618 1.254z"/></svg>
</button>
<nav id="section-nav-menu" class="section-nav">
    <p class="heading">{{ site.title }}</p>
    <ul>
        {%- assign items = site.styleguide | sort: 'order' -%}
        {%- for item in items -%}
            <li class="nav-item {% if item.url == page.url %}current{% endif %}"><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {%- endfor -%}
    </ul>
</nav>
