<style type="text/css">
    :host {
        border: 1px solid lightblue;
        contain: content;
        display: block;
        font: 16px "Open Sans", "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
		line-height: 1.5;
    }
	button {
		font-family: "Open Sans", "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
	}
    .pattern-inner {
        margin: 1rem;
    }
    .ui--tiles {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .ui--tiles > * {
        margin: 2rem 1rem;
    }
    .ui--pattern-box {
        border-radius: 3px;
        display: block;
        height: 8rem;
        width: 12.5rem;
    }
</style>

{%- for item in site.data.stylesheets.styles -%}
    {%- if 'pattern-library' == item.group -%}
        {%- for css in item.sheets -%}
            <link rel="stylesheet" id="{{ css.name | slugify }}" href="{{ css.url | encode_url }}?v{{ site.version }}" type="{{ css.type | encode }}" media="{{ css.media | encode }}">
        {%- endfor -%}
    {%- endif -%}
{%- endfor -%}
