/**
 * Medium & Large Grid
 */
body {
    min-height: 100vh;
}

.header-decor {
    background: $dt-gray-dark;
    box-shadow: 0px 1px 6px 1px rgba(20, 20, 20,.4)
}

.site-header {
    display: flex;
    justify-content: space-between;
    max-width: 72.5rem;
    margin: 0 auto;
    min-height: 10rem;
    padding: 1.5rem 0;
}

main {
    max-width: 72.5rem;
    margin: 3rem auto;
}

.site-footer {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 72.5rem;
    margin: 0 auto;

    section {
        min-width: 300px;
        width: 25vw;
    }
}

article {
    display: grid;
    grid: "article-header article-header" 1fr /* row */
          "section-one section-two" auto /* row */
          "section-three section-three" auto /* row */
          / minmax(100px, 1.3fr) minmax(100px, 1fr); /* columns */
    grid-gap: 1.5rem 2rem;

    header {
        grid-area: article-header;
    }

    .pattern-source {
        grid-area: section-one;
    }

    .pattern-usage {
        grid-area: section-two;
    }

    .pattern-demo {
        grid-area: section-three;
    }
}

/**
 * Navigation
 */
.section-nav-toggle {
    background: #fff;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 3px 5px 1px rgba(20, 20, 20, .2);
    @extend %button;
    height: 3.5rem;
    position: fixed;
    top: 1.5rem;
    transform: translateX(0);
    transition-delay: .1s;
    transition-duration: .3s;
    transition-property: transform, left;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: 2rem;
    z-index: 4;

    &:hover,
    &:focus {
        box-shadow: 2px 3px 7px 3px rgba(20, 20, 20, .2);
    }

    svg {
        fill: $grey-color-dark;
        vertical-align: bottom;
    }

    &.nav-visible {
        transform: translateX(17.5rem);

        svg {
            transform: translateX(-5px) rotate(0.5turn);
        }
    }
}

.section-nav {
    background: #f8f8f2;
    border-right: 1px solid $grey-color-light;
    bottom: 0;
    box-shadow: 2px 3px 5px 1px rgba(20, 20, 20, .2);
    left: -18rem;
    position: fixed;
    top: 0;
    transform: translateX(0);
    transition-delay: .1s;
    transition-duration: .3s;
    transition-property: transform, left;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: 17.5rem;
    z-index: 4;

    &.visible {
        transform: translateX(18rem);
    }

    .heading {
        background: $dt-gray-dark;
        color: $dt-purple;
        font-size: 1.6rem;
        margin: 0;
        padding: 1.5rem 2rem;
        text-align: right;
    }

    > ul {
        border-top: 1px solid darken($grey-color-light, 10%);
        margin: 0;
    }

    .nav-section-title {
        border-bottom: 1px solid darken($grey-color-light, 10%);
        font-size: 1.2em;

        ul a {
            padding-left: 2rem;
        }

        &:hover,
        &:focus {
            outline: none;

            .expandable {
                background: $dt-purple;
                color: $dt-gray-dark;
            }
        }
    }

    .expandable,
    a {
        cursor: pointer;
        display: block;
        padding: .75em;
        text-decoration: none;

        &:hover,
        &:focus {
            background: $dt-purple;
            color: $dt-gray-dark;
        }

        svg {
            fill: $dt-gray-dark;
            height: 24px;
            position: absolute;
            right: 2rem;
            width: 24px;
        }
    }

    .show-menu {
        span {
            color: $text-color;
        }

        svg {
            transform: rotate(180deg);
        }
    }

    .nav-section-title.show-menu > a {
        color: #fff;
        background: $nav-color;
    }

    .nav-item:not(.show-menu) > ul {
        display: none;
    }
}

.site-title {
    align-self: flex-end;
    border-radius: 5px;
    color: $dt-purple;
    @include relative-font-size(2.3);
    font-weight: 400;
    padding: .5rem .75rem;

    &:hover,
    &:focus {
        background: $dt-purple;
        color: $dt-gray-dark;
    }

}

nav {

    ul {
        list-style-type: none;
    }

}

.site-nav {

    ul {
        display: flex;

        li {
            flex: 1 1 auto;
            margin-right: 1.5rem;

            a {
                background: $background-color;
                color: $dt-gray-dark;
                border-radius: 5px;
                padding: 1em 2em;
                white-space: nowrap;

                &:hover,
                &:focus {
                    background: $dt-purple;
                    color: $dt-gray-dark;
                }
            }
        }
    }

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 1.5rem 0;
}

.footer-heading {
    @include relative-font-size(1.125);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Page content
 */

.page-heading {
    @include relative-font-size(2);
}

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    @include relative-font-size(1.5);
}

/**
 * Patterns
 */
.pattern-demo-meta {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    h2 {
        margin-right: auto;
    }

    label,
    input {
        font-size: 1.3rem;
        line-height: 1.3;
    }

    input[type="number"],
    input[type="text"] {
        border: 1px solid $dt-gray-dark;
        margin-right: 1rem;
        padding-left: .25em;

        &:focus {
            background: lighten($dt-pink, 21%);
        }
    }
}

.pattern-inner {
    margin: 1rem;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {

        @include relative-font-size(2.25);

    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        @include relative-font-size(2);

        @include media-query($on-laptop) {

            @include relative-font-size(1.75);

        }
    }

    h3 {
        @include relative-font-size(1.625);

        @include media-query($on-laptop) {

            @include relative-font-size(1.375);

        }
    }

    h4 {
        @include relative-font-size(1.25);

        @include media-query($on-laptop) {

            @include relative-font-size(1.125);

        }
    }
}
