.header-decor,
.section-nav-toggle {
    display: none;
}

article {

    aside,
    .aside {
        float: none;
        margin-left: 0;
        margin-right: 0;
        max-width: 90%;
        width: 90%;
    }
}

.clarification {
    background-color: #fff;
}
