---
category: 3. Components
order: 8
title: Pagination
description: Pagination.
show_source: true
---

<h3>Individual Previous-Next Page Navigation:</h3>
<article class="single-hrs_news">

	<nav class="navigation post-navigation" role="navigation">
		<h2 class="screen-reader-text">Post navigation</h2>
		<div class="nav-links">
			<div class="nav-previous">
				<a href="#" rel="prev">← Older</a>
			</div>
			<div class="nav-next">
				<a href="#" rel="next">Newer →</a>
			</div>
		</div>
	</nav>

</article>

<h3>Numbered Page Navigation:</h3>
<article class="post-type-archive-hrs_news">

	<nav class="navigation pagination" role="navigation">
		<h2 class="screen-reader-text">Posts navigation</h2>
		<div class="nav-links">
			<a class="prev page-numbers" href="#">← Previous page</a>
			<a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>1</a>
			<span class="page-numbers current"><span class="meta-nav screen-reader-text">Page </span>2</span>
			<a class="page-numbers" href="#"><span class="meta-nav screen-reader-text">Page </span>3</a>
			<a class="next page-numbers" href="#">Next page →</a>
		</div>
	</nav>

</article>
