---
category: 3. Components
order: 9
title: "Row Lists"
description: The HRS row list.
show_source: true
---

<section class="articles-list">
	<article class="feature hentry category-uncategorized">
		<figure class="article-image">
			<a href="#">
				<img src="{{ 'assets/images/photo_coffee-and-notebooks.jpg' | relative_url }}" alt="A paper coffe cup with a lid and a stack of notebooks on a low brick wall.">
			</a>
		</figure>
		<div class="row-item-content">
			<header class="article-header">
				<h3 class="article-title"><a href="#" rel="bookmark">Notice of Summer Hours</a></h3>
				<time class="article-date" datetime="2018-01-30T10:27:25+00:00">January 30, 2018</time>
			</header>
		</div>
	</article>
	<article class="hentry category-uncategorized">
		<figure class="article-image">
			<a href="#">
				<img width="400" src="{{ 'assets/images/photo_coffee-and-notebooks.jpg' | relative_url }}" alt="A paper coffe cup with a lid and a stack of notebooks on a low brick wall.">
			</a>
		</figure>
		<div class="row-item-content">
			<header class="article-header">
				<h3 class="article-title"><a href="#" rel="bookmark">Notice of Summer Hours</a></h3>
				<time class="article-date" datetime="2018-01-30T10:27:25+00:00">January 30, 2018</time>
			</header>
			<div class="article-excerpt">
				<p>With the academic year drawing to a close, it is time for managers to make plans for summer schedules. Washington <a href="#"><span class="excerpt-more-default">... More →</span></a></p>
			</div>
		</div>
	</article>
	<article class="hentry category-uncategorized">
		<figure class="article-image">
			<a href="#">
				<img width="400" src="{{ 'assets/images/photo_coffee-and-notebooks.jpg' | relative_url }}" alt="A paper coffe cup with a lid and a stack of notebooks on a low brick wall.">
			</a>
		</figure>
		<div class="row-item-content">
			<header class="article-header">
				<h3 class="article-title"><a href="#" rel="bookmark">Notice of Summer Hours</a></h3>
				<time class="article-date" datetime="2018-01-30T10:27:25+00:00">January 30, 2018</time>
			</header>
			<div class="article-excerpt">
				<p>With the academic year drawing to a close, it is time for managers to make plans for summer schedules. Washington <a href="#"><span class="excerpt-more-default">... More →</span></a></p>
			</div>
		</div>
	</article>
</section>
