---
category: 3. Components
order: 10
title: Search
description: The HRS search component.
show_source: true
---

<div class="header-search-wrapper">
	<section class="side-right row" id="search-modal">
		<div class="column one">
			<div class="header-search-input-wrapper">
				<form method="" action="#">
					<input name="cx" value="002970099942160159670:yqxxz06m1b0" type="hidden">
					<input name="cof" value="FORID:11" type="hidden">
					<input name="sa" value="Search" type="hidden">
					<label class="search-label" for="header-search">Search</label>
					<input type="text" value="" name="q" placeholder="Search" class="header-search-input">
				</form>
			</div>
		</div>
	</section>
</div>
